<p id="notice"><%= notice %></p>

<h1 id="photoShareHeader"> Photos of <%= @userView.first_name %></h1>

    <div class="row">
      <% @photos.each do |photo| %>
      <div class="col-xs-6 col-md-3">
        <a href="<%= display_photo_url(photo) %>" class="thumbnail">
          <%= image_tag("/assets/#{photo.file_name}", alt: "photos") %>
        </a>
      </div>
      <% end %>
    </div>


<%= link_to 'Back', users_path %>
