<p id="notice"><%= notice %></p>

<h1> Photos of <%= @userView.first_name %></h1>
<ul>
  <% @photos.each do |photo| %>
  <li>
    <%= image_tag("/assets/#{photo.file_name}", alt: "photos") %>
  </li>
      <li>
        <p> Created on: <%= photo.date_time %></p>
      </li>
      <li>
        <ul>
          <% @comments = photo.comments %>
          <% @comments.each do |comment| %>
              <li> <p> <%= comment.comment_text %> </p></li>
          <% end %>
        </ul>
      </li>
      <% end %>
</ul>

<%= link_to 'Back', photos_path %>
